.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit; }

.workflow {
  margin-bottom: 64px; }

.workflow-steps {
  background: #3F51B5;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  border-bottom: 2px solid #b8c6d4; }
  .workflow-steps h3, .workflow-steps h5 {
    margin: 5px 0 10px 0; }
  .workflow-steps h5 {
    text-transform: uppercase;
    margin: 10px 0 0 0;
    color: rgba(255, 255, 255, 0.7); }
  .workflow-steps ul {
    list-style: none;
    margin: 0 0 -1rem 0;
    padding: 0; }
  .workflow-steps li {
    display: inline-block;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: #b8c6d4;
    margin: 0 5px;
    font-weight: 500; }
    .workflow-steps li.active {
      background: #46b3e7; }

.padding {
  padding: 0 16px; }

.workflow-descirption {
  margin: 0; }
  .workflow-descirption p {
    margin-top: 0; }

.workflow-actions {
  background: #fff;
  position: fixed;
  text-align: right;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99; }

form md-radio-button {
  margin: 0 0 20px 0; }

.checkbox-group md-checkbox {
  margin: 0 0 20px 0; }

.switch-group md-switch {
  margin: 0 0 20px 0; }
